@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Yeseva+One&display=swap";

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box;
  overflow-y:auto;
}

body {

  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
}



.main {
  background-image: url(./img/home-cover.webp);
  /* background-color: #247ba0; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 100%;

}

header {
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;


}

.navbar {
  width: 100%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  /* background-color: #dff821; */

}
.container1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /* background-color: #0037d0; */
}
.nav-ul {
  display: flex;
}

.nav-logo {
  margin: 0 50px;
  font-size: 34px;
  font-family: 'Yeseva One';
}

.navbar ul li {
  list-style: none;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  /* background-color: #0084ff; */
  transition: 0.8s ease-in;


}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
 

}

.nav-bag {
  margin-right: 4rem;
  margin-top: 10px;
  margin-left: 1rem;
  cursor: pointer;
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.1s;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.1s;
}


.hamburger {
  margin-right: 50px;
  margin-top: 10px;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.h1 {
  margin-top: 12rem;
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #fff;
  font-size: 55px;
  text-align: center;
  cursor: pointer;
}

.black {
  background-color: #060606;
}

.hover {
  transform: scale(5);
  transition: 0.2s all;
  cursor: pointer;
  transform-origin: center;
}

.hover1 {
  transform: scale(15);
  /* background-color: #ff1493; */
  background-color: rgb(245, 99, 172);
  mix-blend-mode: color-burn;
  transition: 0.2s ease;
  transform-origin: center;
 
}

.scale-cursor {
  background: white;
}


.mid {
  margin-top: 3rem;
  display: flex;
  width: 100vw;


}
.third
  {
    display: flex;
    margin-top: 3rem;
    width: 100vw;
  }

.img {
  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  

}
.img2
{
  width: 50vw;
  height: 35rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.organic2
{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.organic {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.img2 {

  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;

}

.organic2 {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.text2 {
  width: 70vw;
  /* background-color: #247ba0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.org1 {
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}
.org3
{
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}
.org4
{
  width: 450px;
    font-weight: 500;
    font-size: 20px;
    color: grey;
    margin-top: 1rem;
    line-height: 25px;
}
.center1 {
  margin-top: 3rem;
  margin-right: 15rem;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #0084ff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}


.text {
  width: 70vw;
  /* background-color: #247ba0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.org1 {
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}


.org2 {
  width: 450px;
  font-weight: 500;
  font-size: 20px;
  color: grey;
  margin-top: 1rem;
  line-height: 25px;
}
.org3
{
  text-align: center;
}

.pop-text {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #100f0f;
  margin-top: 5rem;
}

.ph-gallery {
  display: flex;
  width: 100vw;
  /* height: 24rem; */
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.fen1,
.fen2,
.fen3,
.fen4 {
  border-radius: 50px;
}

.fen1:hover {
  background-image: url(./img/grid1.webp);

}

.fenty {
  background-image: url(./img/grid1.1.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;

}

.fenty:hover {
  background-image: url(./img/grid1.webp);
  transform: scale(1.1);
}

.ilia {
  background-image: url(./img/grid2.2.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.ilia:hover {
  background-image: url(./img/grid2.webp);
  transform: scale(1.1);
}

.kenzoki {
  background-image: url(./img/grid3.3.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.kenzoki:hover {
  background-image: url(./img/grid3.webp);
  transform: scale(1.1);
}

.pixi {
  background-image: url(./img/grid4.4.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.pixi:hover {
  background-image: url(./img/grid4.webp);
  transform: scale(1.1);
}

.fen-text {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.fen-star {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}

.grid1 {
  width: 280px;
  margin: 0 10px;

}

.grid2 {
  width: 280px;
  margin: 0 10px;

}

.grid3 {
  width: 280px;
  margin: 0 10px;

}

.grid4 {
  width: 280px;
  margin: 0 10px;

}
.fixed-position
{
overflow: hidden;
}

.fifth
{
  margin-top: 5rem;
  width: 80%;
  height: 30rem;
  border-radius: 50%;
  margin-left: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
     
    
}

.f1
{
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}
.f2
{
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}
.cos1
{
  position: absolute;
  left: 4rem;  
  top: 12rem;
  width: 70px;
}
.cos2
{
  position: absolute;
  left: 17rem;
  top: 3rem;
  width: 70px;
}
.cos3
{
  position: absolute;
  left: 45rem;
  top: 3rem;
  width: 70px;
}
.cos4
{
  position: absolute;
  left: 17rem;
  top: 23rem;
  width: 70px;
}
.cos5
{
  position: absolute;
  left: 56rem;
  width: 70px;
}
.cos6
{
  position: absolute;
  left: 45rem;
  top: 23rem;
  width: 70px;
}

  /* button animation  */
  .center {
    margin-top: 3rem;
    margin-right: 15rem;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  a span {
    padding: 15px;
    transition: .5s;
    position: relative;
  }
  
  a span:nth-child(1) {
    color: #fff;
    background: #262626;
  }
  
  a span:nth-child(2) {
    color: #fff;
    background: #f9b8d7;
  }
  
  a span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
  }
  
  a:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
  }
  
  a span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #0084ff;
    padding: 15px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
  }
  
  a:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
  }
  
  a span:nth-child(1):after {
    content: attr(data-attr);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #0084ff;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
    transition: 0.5s;
  }
  
  a:hover span:nth-child(1):after {
    transform: rotateX(90deg) translateY(50%);
  }
  
  a span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5s;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
  }
  
  a:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
  }

  .six
  {
    width: 100vw;
    display: flex;
    height: 30rem;
    padding: 0 30px;
    margin-top: 3.8rem;
    
  }
  .hand1
  {
    width: 180px;
    transition: 0.8s ease-in-out;
  }
  .hand2
  {
    width: 80px;
  }
  .flex1
  {
    
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
   
  }
  .flex1:hover
  {
    transition: 0.5s all;
    background-color: #fccfd8;
  }
  .flex2:hover
  {
    transition: 0.5s all;
    background-color: #b9e5f7;
  }
  .flex3:hover
  {
    transition: 0.5s all;
    background-color: #eaf7b9;
  }

  .flex2
  {
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  .flex3
  {
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
.flex-text1
{
  width: 300px;
  text-align: center;
  font-size:25px;
  font-weight: 600;
}
.flex-text2
{
  width: 300px;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  color:grey;
}
.magnet {
  transition: transform .3s ease;
}
footer{
background-image: url(./img/footer.webp);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 7rem;
}
.sub-text
{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

.sub-text1
{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-top: 0;
}
.email
{
  border: none;
  width: 580px;
  height: 60px;
  border-radius: 50px;
  margin-top: 0;
  outline: none;
  background-color: #e6f2ff;
  padding-left: 50px;
  font-size: 17px;
  margin-bottom: 1rem;
}
::placeholder {
  color: #0084ff;
  opacity: 1; 
  letter-spacing: 1px;
  font-size: 13px;
}
.subscribe
{
  border: none;
  width: 620px;
  height: 60px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: #0084ff;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}


.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  width: 400px;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #0084ff;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 150%;
  background: rgb(19, 5, 12);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-67%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
@media screen and (max-width:1024px) {
.six{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}
.flex2
{
  margin: 20px 0;
}

}

@media screen and (max-width:768px) {
  
  .button-56 {
    padding: 0 40px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }



  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1px) rotate(45deg);

  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);

  }

  .nav-bag {
    margin-left: 20rem;
  }

  .nav-ul {
    position: fixed;
    top: -360px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #060606;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
   padding: 0;

  }

  .nav-item {
    margin: 46px 0;

  }

  .nav-ul li a {
    color: #fff;
    font-weight: 500;
  }

  .nav-ul.active {
    top: 50px;

  }

  .h1 {
    margin-top: 20rem;
    font-size: 40px;
 
  }

  .h2 {
    font-size: 40px;
    
  }

  .cursor {
    display: none;
  }

  .mid {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100vw;


  }
  .third
  {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
    width: 100vw;
  }
  

  .img {
    width: 70vw;
    height: 35rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2
  {
    width: 80%;
    margin-left: auto;
    
  }
  .organic2
  {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .organic {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .text {
    width: 100vw;
    /* background-color: #247ba0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
  }
  .text2
  {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
  }

  .ph-gallery {
    margin-left: 6rem;
  }

  .fen-star {

    margin-bottom: 10px;
  }
  .fifth
  {
    margin-top: 2rem;
    margin-left: 12vw;
  }
  .cos1 {
    
    left: 0rem;
    top: 12rem;
    width: 65px;
  }
  .cos2
  {
    left: 8rem;
    width: 65px;
  }
  .cos3{
    left: 8rem;
    top: 23rem;
    width: 65px;
  }
  .cos4
  {
    left: 23rem;
    top: 3rem;
    width: 65px;
  }
  .cos5{
    left: 34rem;
    
    width: 65px;
  }
  .cos6
  {
    left: 23rem;
  }
  .six{
    height: 70rem;
  }
  .foot{
object-fit: contain;
height: 80vh;
  }
  .email
  {
    width: 400px;
  }
  .btn
  {
    width: 200px;
  }
}

@media screen and (max-width:414px) {


  .main {
    overflow-x: hidden;
    height: 100vh;
  }

  .nav-bag {
    margin-left: 70px;
  }

  .nav-ul {
    height: 30vh;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    margin: 16px 0;

  }

  .h1 {
    margin-top: 14rem;
    font-size: 30px;
    /* margin-left: 4rem; */
  }

  .h2 {
    font-size: 30px;
    /* margin-left: 9rem; */
  }

  .img {
    /* background-color: #dff821; */
    width: 80vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2 {
    width: 100vw;
    height: 20rem;

  }

  .organic {
    border-radius: 20px;
  }
  .organic2 {
    border-radius: 20px;
  }
  .text2 {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .text {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }

  .org1 {
    font-size: 20px;
    width: 100vw;
    margin-left: 3rem;
  }

  .org2 {
    font-size: 15px;
    width: 80vw;
  }
  .org3
  {
    font-size: 20px;
    font-weight: 600;
  }
  .org4
  {
    font-size: 15px;
    width: 80vw;
  }

  .center {
    margin-left: 0rem;
    margin-right: 0;

  }
  .center1 {
    margin-left: 0rem;
    margin-right: 0;

  }

  a {
    font-size: 20px;
  }

  .ph-gallery {
    margin-left: 4rem;
  }

  .fen-text {
    margin-top: 15px;
  }

  .fen-star {

    margin-bottom: 10px;
  }
  .fifth
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0;
    /* background-color: #0084ff; */
    height: 19rem;
  }
  .f1,.f2
  {
    font-size: 25px;
    font-weight: 500;
  }
  .cos1
  {
    width: 40px;
    top: 8rem;
    left: 2rem;
    
  }
  .cos2{
    width: 40px;
    left: 6rem;
    top: 3rem;
  }
  .cos3
  {
    width: 40px;
    left: 6rem;
    top: 13rem;
  }
  .cos4
  {
    width: 40px;
    left: 16rem;
    top: 3rem;
  }
  .cos5
  {
    width: 40px;
    left: 19rem;
  }
  .cos6{
    width: 40px;
    left: 16rem;
    top: 13rem;
  }
  .flex-text1
  {
    font-size: 20px;
  }
  .sub-text
  {
    font-size: 25px;
  }
  .sub-text1
  {
    font-size: 25px;
  }
  ::placeholder
  {
font-size: 10px;
  }
  
  .foot{
    background-image: url(./img/footer-mob.webp);
    background-size: cover;
    height: 100vh;
      }
      .email
      {
        width: 250px;
        padding-left: 10px;
        height: 40px;
        font-size: 12px;
      }
      .btn
      {
        width: 120px;
        padding: 10px 10px;
        font-size: 10px;
      }
      .btn:after
      {
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-85%) translateY(-25%) rotate(45deg);
      }
}


@media screen and (max-width:412px) {

  .nav-bag {
    margin-left: 70px;
  }

  .nav-ul {
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    margin: 16px 0px;

  }


  .h1 {
    margin-top: 14rem;
    font-size: 29px;
    text-align: center;
  }

  .h2 {
    font-size: 29px;
    text-align: center;
  }

  .img {
    /* background-color: #dff821; */
    width: 80vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2{
  
    width: 100vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }

  .organic {
    border-radius: 20px;
  }

  .text {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .organic2 {
    border-radius: 20px;
  }
  .text2 {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .org1 {
    font-size: 20px;
    width: 100vw;
    margin-left: 3rem;
  }

  .org2 {
    font-size: 15px;
    width: 80vw;
  }
  .org3
  {
    font-size: 20px;
    font-weight: 600;
  }
  .org4
  {
    font-size: 15px;
    width: 80vw;
  }

  .center {
    margin-left: 0;
    margin-right: 0;

  }

  a {
    font-size: 20px;
  }
  .ph-gallery
  {
    /* text-align: center; */
    margin-left: 3.7rem;
  }
  .fifth
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0;
    /* background-color: #0084ff; */
    height: 19rem;
  }
  .f1,.f2
  {
    font-size: 25px;
    font-weight: 500;
  }
  .cos1
  {
    width: 40px;
    top: 8rem;
    left: 2rem;
    
  }
  .cos2{
    width: 40px;
    left: 6rem;
    top: 3rem;
  }
  .cos3
  {
    width: 40px;
    left: 6rem;
    top: 13rem;
  }
  .cos4
  {
    width: 40px;
    left: 16rem;
    top: 3rem;
  }
  .cos5
  {
    width: 40px;
    left: 19rem;
  }
  .cos6{
    width: 40px;
    left: 16rem;
    top: 13rem;
  }

}

@media screen and (max-width:375px) {
  .nav-ul {
    height: 35%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .nav-logo
  {
    margin-left: 15px;
  }
  .org1
  {
    text-align: center;
    margin-left: 0;
  }
  .org2
  {
    margin-top: 0px;
  }
 
  .ph-gallery
  {
    margin-left: 2rem;
  }

}