@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Yeseva+One&display=swap";

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box;
  overflow-y:auto;
}

body {

  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
}



.main {
  background-image: url(./img/home-cover.webp);
  /* background-color: #247ba0; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 100%;

}

header {
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;

}

.navbar {
  width: 100%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: top 0.4s;
  position: fixed;

}
.back-filter
{
  background: #000;
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
}
.container1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.nav-ul {
  display: flex;
}

.nav-logo {
  margin: 0 30px;
  font-size: 34px;
  font-family: 'Yeseva One';
}

.navbar ul li {
  list-style: none;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  /* background-color: #0084ff; */
  transition: 0.8s ease-in;


}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
 

}

.nav-bag {
 
  cursor: pointer;
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.1s;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.1s;
}

.cart-ham{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px

}

.hamburger {
  margin-right: 50px;
  margin-top: 10px;
  display: none;
}

.bar { 
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


.h1  {
  margin-top: 12rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
  width: fit-content;
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}
.ml13 {
  font-size: 55px;
  font-weight: 500;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}
.heading
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.black {
  background-color: #060606;
}

.hover {
  transform: scale(5);
  transition: 0.2s all;
  cursor: pointer;
  transform-origin: center;
}

.hover1 {
  transform: scale(15);
  /* background-color: #ff1493; */
  background-color: rgb(245, 99, 172);
  mix-blend-mode: color-burn;
  transition: 0.2s ease;
  transform-origin: center;
  animation: pulse 1s infinite ease-in-out alternate;
 
}
.hover4
{
  /* background-color: ; */
    transform: scale(2.5);
    transition: 0.2s all;
    cursor: pointer;
    transform-origin: center;
    mix-blend-mode: color-burn;
    color: #000;
}

.scale-cursor {
  background: white;
}
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -10;
 
}
.animation{
  animation: wobble-hor-bottom .3s ease-in-out;
}
 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.container1 .particles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.particles li:nth-child(1) {
  left: 20%;
  border: none;
  border-radius: 50%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;

}
.particles li:nth-child(2) {
  left: 12%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}
.particles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  background: #fff;
}
.particles li:nth-child(4) {
  left: 40%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
  background: #f1e2e2;
}
.particles li:nth-child(5) {
  left: 35%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #c821db;
}
.particles li:nth-child(6) {
  left: 75%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background: #fff;
}
.particles li:nth-child(7) {
  left: 35%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  background: #3708e0;
}
.particles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
  background: #247ba0;
}
.particles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
  background: #70c1b3;
}
.particles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  background: #dff821;
}

.particles li:nth-child(11) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
  background: #70c1b3;
}

.particles li:nth-child(12) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
  background: #247ba0;
}
.particles li:nth-child(13) {
  left: 65%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  background: #f85021;
}
.particles li:nth-child(14) {
  left: 10%;
  width: 38px;
  height: 38px;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  background: #0037d0;
}
.particles li:nth-child(15) {
  left: 45%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  background: #ef06bd;
}
.particles li:nth-child(16) {
  left: 10%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  background: #ef0606;
}
.particles li:nth-child(17) {
  left: 45%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  background: #033a4a;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


.mid {
  margin-top: 3rem;
  display: flex;
  width: 100vw;


}
.third
  {
    display: flex;
    margin-top: 3rem;
    width: 100vw;
  }

.img {
  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.img2
{
  width: 50vw;
  height: 35rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.organic2
{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.organic {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.img2 {

  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;

}

.organic2 {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.text2 {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.org1 {
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}
.org3
{
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}
.org4
{
  width: 450px;
    font-weight: 500;
    font-size: 20px;
    color: grey;
    margin-top: 1rem;
    line-height: 25px;
}
.center1 {
  margin-top: 3rem;
  margin-right: 15rem;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #0084ff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}


.text {
  width: 70vw;
  /* background-color: #247ba0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.org1 {
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}


.org2 {
  width: 450px;
  font-weight: 500;
  font-size: 20px;
  color: grey;
  margin-top: 1rem;
  line-height: 25px;
}
.org3
{
  text-align: center;
}

.pop-text {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #100f0f;
  margin-top: 5rem;
}

.ph-gallery {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  /* height: 24rem; */
  margin-top: 2rem;
  flex-wrap: wrap;
}

.fen1,
.fen2,
.fen3,
.fen4 {
  border-radius: 50px;
}

.fen1:hover {
  background-image: url(./img/grid1.webp);

}

.fenty {
  background-image: url(./img/grid1.1.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;

}

.fenty:hover {
  background-image: url(./img/grid1.webp);
  transform: scale(1.1);
}

.ilia {
  background-image: url(./img/grid2.2.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.ilia:hover {
  background-image: url(./img/grid2.webp);
  transform: scale(1.1);
}

.kenzoki {
  background-image: url(./img/grid3.3.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.kenzoki:hover {
  background-image: url(./img/grid3.webp);
  transform: scale(1.1);
}

.pixi {
  background-image: url(./img/grid4.4.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.pixi:hover {
  background-image: url(./img/grid4.webp);
  transform: scale(1.1);
}
.grid1,.grid2,.grid3,.grid4{
  cursor: pointer;
}
.grid1 a{
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
}
.grid2 a{
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
}
.grid3 a{
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
}
.grid4 a{
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
}
.fen-text  {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

.fen-star {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}

.grid1 {
  width: 280px;
  margin: 0 10px;

}

.grid2 {
  width: 280px;
  margin: 0 10px;

}

.grid3 {
  width: 280px;
  margin: 0 10px;

}

.grid4 {
  width: 280px;
  margin: 0 10px;

}
.fixed-position
{
position: fixed;
}

.fifth
{
  margin-top: 5rem;
  width: 80%;
  height: 30rem;
  border-radius: 50%;
  margin-left: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
     
    
}

.f1
{
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}
.f2
{
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}

.flex-p{
  display: flex;
  /* background-color: #a9abac; */
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cos1{
  width: 70px;
}
.flex-p1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-top: 22rem;
}
.flex-p2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-bottom: 22rem;
}

  /* button animation  */
  .center {
    margin-top: 3rem;
    margin-right: 15rem;
    
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  a span {
    padding: 15px;
    transition: .5s;
    position: relative;
  }
  
  a span:nth-child(1) {
    color: #fff;
    background: #262626;
  }
  
  a span:nth-child(2) {
    color: #fff;
    background: #f9b8d7;
  }
  
  a span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
  }
  
  a:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
  }
  
  a span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #0084ff;
    padding: 15px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
  }
  
  a:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
  }
  
  a span:nth-child(1):after {
    content: attr(data-attr);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #0084ff;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
    transition: 0.5s;
  }
  
  a:hover span:nth-child(1):after {
    transform: rotateX(90deg) translateY(50%);
  }
  
  a span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5s;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
  }
  
  a:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
  }
  
  @keyframes pulse {
    from { transform: scale(14); }
    to { transform: scale(17); }
  }
  

/* scroller  */
.scroller
{
margin: 5rem 0;
 width: 100vw;
 height: 350px;
 /* background-color: #70c1b3;  */
}
.scroll1,.scroll2
{
  width: 100%;
  display: flex;
  align-items: center;
}
.customer-heading
{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 4rem 0;
}

.review1
{
    width: 410px;
    /* height: 150px; */
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
}
.review2{
  width: 410px;
  /* height: 150px; */
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 10px;
}

.katy
{
  height: 120px;
  border-radius: 20px;
}
.review-text
{
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  height: 120px;
}
.review-des
{
  margin-top: 5px;
  font-size: 11px;
  margin-bottom: 0;
  color: grey;
}
.review-name
{
  font-size: 14px;
  font-weight: 800;
  margin-top: 4px;
  margin-bottom: 0;
}

  .six
  {
    width: 100vw;
    display: flex;
    padding: 0 30px;
    margin-top: 3.8rem;
    
  }
  .hand1
  {
    width: 180px;
    transition: 0.8s ease-in-out;
  }
  .hand2
  {
    width: 80px;
  }
  .flex1
  {
    
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
   
  }
  .flex1:hover
  {
    transition: 0.5s all;
    background-color: #fccfd8;
  }
  .flex2:hover
  {
    transition: 0.5s all;
    background-color: #b9e5f7;
  }
  .flex3:hover
  {
    transition: 0.5s all;
    background-color: #eaf7b9;
  }

  .flex2
  {
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  .flex3
  {
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
.flex-text1
{
  width: 300px;
  text-align: center;
  font-size:25px;
  font-weight: 600;
}
.flex-text2
{
  width: 300px;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  color:grey;
}
.magnet {
  transition: transform .3s ease;
}
footer{
background-image: url(./img/footer.webp);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 3rem;
}
.sub-text
{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

.sub-text1
{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-top: 0;
}
.email
{
  border: none;
  width: 580px;
  height: 60px;
  border-radius: 50px;
  margin-top: 0;
  outline: none;
  background-color: #e6f2ff;
  padding-left: 50px;
  font-size: 17px;
  margin-bottom: 1rem;
}
::placeholder {
  color: #0084ff;
  opacity: 1; 
  letter-spacing: 1px;
  font-size: 13px;
}
.subscribe
{
  border: none;
  width: 620px;
  height: 60px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: #0084ff;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}


.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  width: 400px;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #0084ff;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 150%;
  background: rgb(19, 5, 12);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-67%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
.flex2
{
  margin: 20px 0;
}

/* scroll stuff */

.scroll-down header
{
  transform: translate3d(0,-100%,0);
}
.scroll-up header
{
  filter: drop-shadow(0 -10px 20px rgb(170,170,170));
}
.cart-ham span{
  font-size: 22px;
}
 @-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@media (min-width:769px) and (max-width:1024px) {
.six{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}
.header
{
  height: 70px;
}
.img {
  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.organic
{
  width: 100%;
}
.text
{
  padding: 50px 0;
  margin-left: 2em;
  
}
.text2
{
  padding: 50px 0;
  margin-left: 2em;
}
.ph-gallery
{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.img2
{
  width: 50vw;
  height: 35rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.flex-p{
  display: flex;
  /* background-color: #a9abac; */
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cos1{
  width: 70px;
}

.flex-p1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-top: 22rem;
}
.flex-p2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-bottom: 22rem;
}
.katy
{
  height: 120px;
}
.review1
{
  width: 450px;
}
.review-des
{
  font-size:9.5px;
}
.review-text
{
height: 120px;
}
.r2{
  display: none;
}
.cart-ham{
  justify-content: flex-start;
  align-items: center;
}
.count{
  margin: 0;
}


}


@media (min-width:480px) and (max-width: 768px) {
  
  .button-56 {
    padding: 0 40px;
  } 

  .hamburger {
    display: block;
    cursor: pointer;
    margin: 0 30px;
  }

.navbar
{
  height: 70px;
}

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1px) rotate(45deg);

  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);

  }

  .nav-ul {
    position: fixed;
    top: -360px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #060606;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
     padding: 0;

  }

  .nav-item {
    margin: 46px 0;

  }

  .nav-ul li a {
    color: #fff;
    font-weight: 500;
  }

  .nav-ul.active {
    top: 50px;

  }
  .navbar
  {
    display: flex;
    justify-content: space-between;
  }
  .cart-ham
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
    
  .count{
    margin-right: 20px;
  }
  .h1 {
    margin-top: 13rem;
    font-size: 40px;
 
  }

  .h2 {
    font-size: 40px;
    
  }

  .cursor {
    display: none;
  }

  .mid {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100vw;


  }
  .third
  {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
    width: 100vw;
  }
  

  .img {
    width: 80%;
    height: 25rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .img2
  {
    width: 80%;
    height: 25rem;
    margin-left: auto;
    
  }
  .center
  {
    text-align: center;
    margin-right: 2rem;
    
  }
  .organic2
  {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .organic {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin-left: 1rem;
  }
  .org1
  {
    width: 100%;
    text-align: center;
  }
  .org2
  {
    width: 100%;
    text-align: center;
  }
  .text2
  {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
 
  
  .ph-gallery {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
  }

  .fen-star {

    margin-bottom: 10px;
  }
  .fifth
  {
    margin-top: 2rem;
    margin-left: 12vw;
  }
  .six
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .flex-p{
    display: flex;
    /* background-color: #a9abac; */
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .cos1{
    width: 65px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-top: 22rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-bottom: 22rem;
  }
 
  .foot{
object-fit: contain;
height: 80vh;
  }
  .email
  {
    width: 400px;
  }
  .btn
  {
    width: 200px;
  }
  .katy
{
  height: 90px;
}
.review1
{
  width: 450px;
}
.review-des
{
  font-size:7px;
}
.review-text
{
height: 120px;
}



}
@media (min-width:480px) and (max-width: 657px){

  .cos1{
    width: 55px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 60%;
    margin-top: 16rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 60%;
    margin-bottom: 16rem;
  }
  .flex-p{
    display: flex;
    /* background-color: #a9abac; */
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .f1,.f2{
    font-size: 30px;
  }
  .nav-bag{
    width: 100px;
  }
  
}

@media (min-width:415px) and (max-width:479px) {

  .hamburger {
    display: block;
    cursor: pointer;
    margin: 0 20px;
  }
  .cart-ham
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
  .navbar
  {
    height: 70px;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1px) rotate(45deg);

  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);

  }

  .nav-ul {
    position: fixed;
    top: -360px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #060606;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
     padding: 0;

  }

  .nav-ul li a {
    color: #fff;
    font-weight: 500;
  }

  .nav-ul.active {
    top: 50px;

  }
  .main {
    overflow-x: hidden;
    height: 100vh;
  }

  .nav-bag {
    margin-left: 70px;
  }

  .nav-ul {
    height: 30vh;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    margin: 16px 0;

  }
  .navbar
  {
    display: flex;
    justify-content: space-between;
  }
  .cart-ham
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .nav-bag {
      margin-left: 0rem;
      /* margin-right: 38px; */
    }
    .count{
      margin-right: 20px;
    }
  .h1 {
    margin-top: 14rem;
    font-size: 30px;
    /* margin-left: 4rem; */
  }

  .h2 {
    font-size: 30px;
    /* margin-left: 9rem; */
  }
  .mid
  {
    display: flex;
    flex-direction: column;
  }
  .third
  {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .six
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .img {
    width: 80%;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2 {
    width: 100%;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }

  .organic {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .organic2 {
   border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text2 {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .text {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }

  .org1 {
    font-size: 20px;
    width: 100vw;
    margin-left: 3rem;
  }

  .org2 {
    font-size: 15px;
    width: 80vw;
  }
  .org3
  {
    font-size: 20px;
    font-weight: 600;
  }
  .org4
  {
    font-size: 15px;
    width: 80vw;
  }
.cursor
{
  display: none;
}
  .center {
    margin-left: 0rem;
    margin-right: 0;

  }
  .center1 {
    margin-left: 0rem;
    margin-right: 0;

  }

  a {
    font-size: 20px;
  }

  .ph-gallery {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
  }
  .fen-text {
    margin-top: 15px;
  }

  .fen-star {

    margin-bottom: 10px;
  }
  .fifth
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 5rem;
    width: 100%;
    border-radius: 0;
    /* background-color: #0084ff; */
    height: 19rem;
  }
  .f1,.f2
  {
    font-size: 25px;
    font-weight: 500;
  }
  .flex-p{
    display: flex;
    /* background-color: #a9abac; */
    position: absolute;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .cos1{
    width: 40px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-top: 10rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-bottom: 10rem;
  }
  .flex-text1
  {
    font-size: 20px;
  }
  .sub-text
  {
    font-size: 25px;
  }
  .sub-text1
  {
    font-size: 25px;
  }
  ::placeholder
  {
font-size: 10px;
  }
  
  .foot{
    background-image: url(./img/footer-mob.webp);
    background-size: cover;
    height: 100vh;
      }
      .email
      {
        width: 250px;
        padding-left: 10px;
        height: 40px;
        font-size: 12px;
      }
      .btn
      {
        width: 120px;
        padding: 10px 10px;
        font-size: 10px;
      }
      .btn:after
      {
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-85%) translateY(-25%) rotate(45deg);
      }
    
      .about,.about2
      {
        font-size: 28px;
        text-align: center;
      }
      
  .katy
  {
    height: 90px;
  }
  .review1
  {
    width: 450px;
  }
  .review-des
  {
    font-size:7px;
  }
  .review-text
  {
  height: 120px;
  }
  
 }
 
@media (min-width:320px) and (max-width:414px) {


  .hamburger {
    display: block;
    cursor: pointer;
    margin: 0 20px;
  }
  .cart-ham
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
 
  
  .navbar
  {
    height: 60px;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1px) rotate(45deg);

  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);

  }

  .nav-ul {
    position: fixed;
    top: -360px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #060606;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
     padding: 0;

  }
  
  .flex-p{
    display: flex;
    /* background-color: #a9abac; */
    position: absolute;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .cos1{
    width: 40px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 60%;
    margin-top: 10rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 60%;
    margin-bottom: 10rem;
  }
  .six
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .nav-ul li a {
    color: #fff;
    font-weight: 500;
  }

  .nav-ul.active {
    top: 50px;

  }
  .main {
    overflow-x: hidden;
    height: 100vh;
  }

  .nav-bag {
    margin-left: 70px;
  }

  .nav-ul {
    height: 30vh;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    margin: 16px 0;

  }
  .navbar
  {
    display: flex;
    justify-content: space-between;
  }
  .cart-ham
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .nav-bag {
      margin-left: 0rem;
      /* margin-right: 10px; */
    }
    .count{
      margin-right: 20px;
    }
  .h1 {
    margin-top: 14rem;
    font-size: 30px;
   
  }

  .h2 {
    font-size: 30px;
    
  }

  .img {
 
    width: 80vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2 {
    width: 100vw;
    height: 20rem;

  }
  .mid
  {
    display: flex;
    flex-direction: column;
  }
  .third
  {
    display: flex;
    flex-direction: column-reverse;
  }
  


  .img {
    width: 80%;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2 {
    width: 100%;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .organic {
    border-radius: 20px;
  }
  .organic2 {
    border-radius: 20px;
  }
  .text2 {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .text {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }

  .org1 {
    font-size: 20px;
    width: 100vw;
    margin-left: 3rem;
  }

  .org2 {
    font-size: 15px;
    width: 80vw;
  }
  .org3
  {
    font-size: 20px;
    font-weight: 600;
  }
  .org4
  {
    font-size: 15px;
    width: 80vw;
  }
.cursor
{
  display: none;
}
  .center {
    margin-left: 0rem;
    margin-right: 0;

  }
  .center1 {
    margin-left: 0rem;
    margin-right: 0;

  }

  a {
    font-size: 20px;
  }

  .ph-gallery {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
  }
  .fen-text {
    margin-top: 15px;
  }

  .fen-star {

    margin-bottom: 10px;
  }
  .fifth
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 4rem;
    width: 100%;
    border-radius: 0;
    height: 19rem;
  }
  .f1,.f2
  {
    font-size: 25px;
    font-weight: 500;
  }
  
  .flex-text1
  {
    font-size: 20px;
  }
  .sub-text
  {
    font-size: 25px;
  }
  .sub-text1
  {
    font-size: 25px;
  }
  ::placeholder
  {
font-size: 10px;
  }
  
  .foot{
    background-image: url(./img/footer-mob.webp);
    background-size: cover;
    height: 100vh;
      }
      .email
      {
        width: 250px;
        padding-left: 10px;
        height: 40px;
        font-size: 12px;
      }
      .btn
      {
        width: 120px;
        padding: 10px 10px;
        font-size: 10px;
      }
      .btn:after
      {
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-85%) translateY(-25%) rotate(45deg);
      }
    
      .about,.about2
      {
        font-size: 28px;
        text-align: center;
      }
    
  .katy
  {
    height: 90px;
  }
  .review1
  {
    width: 450px;
  }
  .review-des
  {
    font-size:7px;
  }
  .review-text
  {
  height: 120px;
  }
  
} 
