@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Yeseva+One&display=swap";

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box;
}

body {

  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
}


.mid {
  margin-top: 3rem;
  display: flex;
  width: 100vw;


}
.third
  {
    display: flex;
    margin-top: 3rem;
    width: 100vw;
  }

.img {
  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  

}
.img2
{
  width: 50vw;
  height: 35rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.organic2
{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.organic {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.img2 {

  width: 70vw;
  height: 35rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;

}

.organic2 {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.text2 {
  width: 70vw;
  /* background-color: #247ba0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.org1 {
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}
.org3
{
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}
.org4
{
  width: 450px;
    font-weight: 500;
    font-size: 20px;
    color: grey;
    margin-top: 1rem;
    line-height: 25px;
}
.center1 {
  margin-top: 3rem;
  margin-right: 15rem;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #0084ff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.text {
  width: 70vw;
  /* background-color: #247ba0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.org1 {
  width: 450px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 1rem;
}


.org2 {
  width: 450px;
  font-weight: 500;
  font-size: 20px;
  color: grey;
  margin-top: 1rem;
  line-height: 25px;
}

.pop-text {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #100f0f;
  margin-top: 5rem;
}

.ph-gallery {
  display: flex;
  width: 100vw;
  /* height: 24rem; */
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.fen1,
.fen2,
.fen3,
.fen4 {
  border-radius: 50px;
}

.fen1:hover {
  background-image: url(./img/grid1.webp);

}

.fenty {
  background-image: url(./img/grid1.1.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;

}

.fenty:hover {
  background-image: url(./img/grid1.webp);
  transform: scale(1.1);
}

.ilia {
  background-image: url(./img/grid2.2.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.ilia:hover {
  background-image: url(./img/grid2.webp);
  transform: scale(1.1);
}

.kenzoki {
  background-image: url(./img/grid3.3.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.kenzoki:hover {
  background-image: url(./img/grid3.webp);
  transform: scale(1.1);
}

.pixi {
  background-image: url(./img/grid4.4.webp);
  width: 280px;
  height: 280px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}

.pixi:hover {
  background-image: url(./img/grid4.webp);
  transform: scale(1.1);
}

.fen-text {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.fen-star {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}

.grid1 {
  width: 280px;
  margin: 0 10px;

}

.grid2 {
  width: 280px;
  margin: 0 10px;

}

.grid3 {
  width: 280px;
  margin: 0 10px;

}

.grid4 {
  width: 280px;
  margin: 0 10px;

}
.fixed-position
{
overflow: hidden;
}

.fifth
{
  width: 80%;
  background-color: #0084ff;
  height: 30rem;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.f1
{
  margin: 0;
  font-size: 50px;
}
.f2
{
  margin: 0;
  font-size: 50px;
}
.cos1
{
  position: absolute;
  left: 40px;
}
.cos2
{
  position: absolute;
  left: 8rem;
  top: 3rem;
}
.cos3
{
  position: absolute;
  left: 27rem;
  top: 3rem;
}
.cos4
{
  position: absolute;
  left: 3rem;
}
.cos5
{
  position: absolute;
  left: 3rem;
}
.cos6
{
  position: absolute;
  left: 3rem;
}


@media screen and (max-width:768px) {
  /* .container {
    width: 100%;

  }

  .main {
    width: 100%;

  } */

  .hamburger {
    display: block;
    cursor: pointer;
  }



  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1px) rotate(45deg);

  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);

  }

  .nav-bag {
    margin-left: 20rem;
  }

  .nav-ul {
    position: fixed;
    top: -360px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #060606;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
   padding: 0;

  }

  .nav-item {
    margin: 46px 0;

  }

  .nav-ul li a {
    color: #fff;
    font-weight: 500;
  }

  .nav-ul.active {
    top: 50px;

  }

  .h1 {
    margin-top: 20rem;
    font-size: 40px;
 
  }

  .h2 {
    font-size: 40px;
    
  }

  .cursor {
    display: none;
  }

  .mid {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100vw;


  }
  .third
  {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
    width: 100vw;
  }
  

  .img {
    width: 70vw;
    height: 35rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2
  {
    width: 80%;
    margin-left: auto;
    
  }
  .organic2
  {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .organic {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .text {
    width: 100vw;
    /* background-color: #247ba0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
  }
  .text2
  {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
  }

  .ph-gallery {
    margin-left: 6rem;
  }

  .fen-star {

    margin-bottom: 10px;
  }

}

@media screen and (max-width:414px) {


  .main {
    overflow-x: hidden;
    height: 100vh;
  }

  .nav-bag {
    margin-left: 70px;
  }

  .nav-ul {
    height: 30vh;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    margin: 16px 0;

  }

  .h1 {
    margin-top: 14rem;
    font-size: 30px;
    /* margin-left: 4rem; */
  }

  .h2 {
    font-size: 30px;
    /* margin-left: 9rem; */
  }

  .img {
    /* background-color: #dff821; */
    width: 80vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2 {
    width: 100vw;
    height: 20rem;

  }

  .organic {
    border-radius: 20px;
  }
  .organic2 {
    border-radius: 20px;
  }
  .text2 {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .text {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }

  .org1 {
    font-size: 20px;
    width: 100vw;
    margin-left: 3rem;
  }

  .org2 {
    font-size: 15px;
    width: 80vw;
  }
  .org3
  {
    font-size: 20px;
    font-weight: 600;
  }
  .org4
  {
    font-size: 15px;
    width: 80vw;
  }

  .center {
    margin-left: 0rem;
    margin-right: 0;

  }
  .center1 {
    margin-left: 0rem;
    margin-right: 0;

  }

  a {
    font-size: 20px;
  }

  .ph-gallery {
    margin-left: 4rem;
  }

  .fen-text {
    margin-top: 15px;
  }

  .fen-star {

    margin-bottom: 10px;
  }
}


@media screen and (max-width:412px) {

  .nav-bag {
    margin-left: 70px;
  }

  .nav-ul {
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    margin: 16px 0px;

  }


  .h1 {
    margin-top: 14rem;
    font-size: 29px;
    text-align: center;
  }

  .h2 {
    font-size: 29px;
    text-align: center;
  }

  .img {
    /* background-color: #dff821; */
    width: 80vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }
  .img2{
  
    width: 100vw;
    height: 20rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

  }

  .organic {
    border-radius: 20px;
  }

  .text {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .organic2 {
    border-radius: 20px;
  }
  .text2 {
    padding: 3px 0px;
    width: 100vw;
    justify-content: center;
  }
  .org1 {
    font-size: 20px;
    width: 100vw;
    margin-left: 3rem;
  }

  .org2 {
    font-size: 15px;
    width: 80vw;
  }
  .org3
  {
    font-size: 20px;
    font-weight: 600;
  }
  .org4
  {
    font-size: 15px;
    width: 80vw;
  }

  .center {
    margin-left: 0;
    margin-right: 0;

  }

  a {
    font-size: 20px;
  }
  .ph-gallery
  {
    /* text-align: center; */
    margin-left: 3.7rem;
  }

}

@media screen and (max-width:375px) {
  .nav-ul {
    height: 35%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .nav-logo
  {
    margin-left: 15px;
  }
  .org1
  {
    text-align: center;
    margin-left: 0;
  }
  .org2
  {
    margin-top: 0px;
  }
 
  .ph-gallery
  {
    margin-left: 2rem;
  }

}