.main3
{
    background-image: url(./img/about.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.fixed-position
{
  overflow: hidden;
}

.flex-p{
  display: flex;
  /* background-color: #a9abac; */
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cos1{
  width: 73px;
}
.flex-p1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-top: 22rem;
}
.flex-p2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-bottom: 22rem;
}
.hover3{
    transform: scale(15);
    /* background-color: #ff1493; */
    background-color: rgb(12, 6, 9);
    mix-blend-mode: color-burn;
    transition: 0.2s ease;
    transform-origin: center;
   
  }
  .heading3
  {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  .About
  {
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    font-size: 70px;
  }
  
  /* circle animation 
   */
   
#layer{
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    -o-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-o-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @media (min-width:769px) and (max-width:1024px) {
    
.cos1{
  width: 70px;
}
.flex-p1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-top: 22rem;
}
.flex-p2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c6082; */
  position: absolute;
  width: 50%;
  margin-bottom: 22rem;
}
  }
  @media  (min-width:480px) and (max-width: 768px) {
    .About
    {
      font-size: 50px;
    }
    
  .flex-p{
    display: flex;
    /* background-color: #a9abac; */
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .cos1{
    width: 65px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-top: 22rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-bottom: 22rem;
  }
    
  }
  @media (min-width:480px) and (max-width: 657px){
    .cos1{
      width: 55px;
    }
    .flex-p1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* background-color: #1c6082; */
      position: absolute;
      width: 60%;
      margin-top: 16rem;
    }
    .flex-p2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* background-color: #1c6082; */
      position: absolute;
      width: 60%;
      margin-bottom: 16rem;
    }
    .flex-p{
      display: flex;
      /* background-color: #a9abac; */
      position: absolute;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .f1,.f2{
      font-size: 30px;
    }
  }
  @media (max-width:414px) {
    .About
    {
        font-size: 29px;
    }
  }
  
 
  @media  (min-width:415px) and (max-width:479px) {
    .About
    {
      font-size: 40px;
    }
    .heading3
    {
      margin-top: 7rem;
    }
    
  .cos1{
    width: 40px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-top: 10rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 50%;
    margin-bottom: 10rem;
  }
  }
  @media (min-width:320px) and (max-width:414px) {
    .heading3
    {
      margin-top: 8rem;
    }
    
  .cos1{
    width: 40px;
  }
  .flex-p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 60%;
    margin-top: 10rem;
  }
  .flex-p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c6082; */
    position: absolute;
    width: 60%;
    margin-bottom: 10rem;
  }
  .flex-p{
    width: 90%;
  }
  }